body {
    background-image: url(../images/background.png);
    background-repeat: none;
    background-size: 100%;
    color: rgb(0, 7, 8);
}
img {
    position: relative; 
   float: right;
   overflow: auto;
}
.container {
    margin: 5%;
    align-content: center;
    background-color: rgb(228, 233, 235);
}
h1 {
    font-size: 36px;
    padding: 3%;

}
h2 {
    font-size: 28px;
    padding: 3%;

}
p {
    padding: 2%;
}

